* body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mainHdr {
    font-size: 60px;
    font-weight: bold;
    padding-top: 50px;
}

.introHdr1 {
    font-size: 37px;
    font-weight: lighter;
    line-height: 2px;
    padding-bottom: 50px;
}

.introHdr2 {
    font-size: 70px;
    font-weight: bold;
    padding-top: 50px;
}

#mainNav {
    background-color: #d5ddcf;
    overflow: hidden;
    padding: 20px;  
}

.navText {
    float: right;
    font-size: 20px;
    padding-right: 20px;
    color: white;
}

#mainNav a:hover {
    color: black;
}

#userPhoto {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.sectionHdr {
    font-size: 35px;
}

.sectionText {
    font-size: 18px;
}

#projectSectionHdr {
    padding-top: 30px;
}

#project1Image {
    width: 700px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#project1Card {
    font-size: 18px;
    background-color: #aab0a5;
    color: white;
    width: 700px;
    height: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#project1CardText {
    padding-top: 5px;
}

#project2Image {
    width: 450px;
    border-radius: 5px;
    position:relative;
    left: 300px;
    top: 80px;
}